<form class="fvtt-avclient-vdoninja-conference">
  {{#if error}}
    <p class="notification error">{{error}}</p>
  {{/if}}

  {{#if hasModes}}
    <p>
      <strong>{{currentModeTitle}}</strong>
      <span class="current-mode">{{currentLabel}}</span>
    </p>

    {{#if settingKey}}
      <p class="notes">
        {{coreSettingLabel}} <code>{{settingKey}}</code>
      </p>
    {{else}}
      <p class="notes">
        {{noSettingNote}}
      </p>
    {{/if}}

    <div class="flexrow conference-buttons">
      <button type="button" data-mode="off" class="conference-btn">
        <i class="fas fa-ban"></i>
        {{offLabel}}
      </button>

      <button type="button" data-mode="video" class="conference-btn">
        <i class="fas fa-video"></i>
        {{videoLabel}}
      </button>

      <button type="button" data-mode="av" class="conference-btn">
        <i class="fas fa-video"></i>
        <i class="fas fa-microphone"></i>
        {{avLabel}}
      </button>
    </div>

    <hr>

    <p class="notes">
      {{notesParagraph}}
    </p>
  {{/if}}
</form>
